<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneInjectionUsageDescription</key>
	<string>Speech recognition access is required to transcribe the conversations.</string>
	<key>Privacy - NSMicrophoneUsageDescription</key>
	<string>Microphone: Microphone access is required for audio recording.</string>
	<key>Privacy - NSSpeechRecognitionUsageDescription</key>
	<string>Speech Recognition: Permission is required to convert your speech to text.</string>
</dict>
</plist>
